<div class=" w-[95%] lg:w-[80%] mx-auto pb-7 text-gray-500 text-sm mt-10 ">
    <div class="flex flex-col lg:flex-row text-center lg:text-left gap-8 mb-7">
        <div class="basis-2/6 flex flex-col gap-3">
            <div class=" uppercase font-bold text-gray-800">About Store</div>
            <div class=" text-gray-600">Got Question? Call us 24/7</div>
            <div class=" text-3xl text-blue-700 font-medium">+222-1800-2628</div>
            <div class=" text-gray-600">
                268 St, South New York/NY 98944, United States <br> Customersupport@example.com
                <br> Info@example.com
            </div>
        </div>
        <div class="basis-1/6">
            <div class="uppercase font-bold text-gray-800 mb-3"> Information</div>
            <div class="flex flex-col gap-3 ">
                <div class=""><a routerLink="['/']" class="hover:text-slate-800 hover:underline">Blog Us</a></div>
                <div class=""><a routerLink="['/']" class="hover:text-slate-800 hover:underline">About Us</a></div>
                <div class=""><a routerLink="['/']" class="hover:text-slate-800 hover:underline">Delivery
                        Information</a></div>
                <div class=""><a routerLink="['/']" class="hover:text-slate-800 hover:underline">Privacy Policy</a>
                </div>
                <div class=""><a routerLink="['/']" class="hover:text-slate-800 hover:underline">Feedback</a></div>
            </div>
        </div>
        <div class="basis-1/6">
            <div class="uppercase font-bold text-gray-800 mb-3">Quick links</div>
            <div class="flex flex-col gap-3">
                <div class=""><a routerLink="['/']"class="hover:text-slate-800 hover:underline">Store Loction</a></div>
                <div class=""><a routerLink="['/']"class="hover:text-slate-800 hover:underline">Oder Tracking</a></div>
                <div class=""><a routerLink="['/']"class="hover:text-slate-800 hover:underline">FAQs</a></div>
            </div>
        </div>
        <div class="basis-2/6">
            <div class="uppercase font-bold text-gray-800 mb-3">Sign up to new letter</div>
            <div class="flex flex-col gap-3">
                <div class=" mb-3">Join 20.000+ subscribers and get a new discount coupon on every Saturday. Updates
                    information on Sales and Offers.</div>
                <div class="flex items-center gap-1">
                    <div class="basis-5/7 text-center border-2 rounded-full border-slate-400 py-3 px-3 ">
                        <input type="text" placeholder="Your email address" class="w-full text-sm outline-none">
                    </div>
                    <div class="basis-2/7 bg-blue-700 py-3 text-center text-white rounded-full ">
                        <button class="text-sm font-medium tracking-wide">Search</button>
                    </div>
                </div>
                <div class="">Subscribe for Uminex and get 20% off your first purchase.</div>
            </div>
        </div>
    </div>
    <div class="h-px bg-gray-200 font-light w-[100vw] relative left-[calc(-50vw+50%)] mb-4"></div>
    <div class="flex flex-col xl:flex-row items-center text-center xl:text-left gap-8 mt-7">
        <div class="basis-1/2 ">
            Copyright © <a href="" class="font-medium text-blue-500">Uminex</a> all rights reserved. Powered by
            Blueskytechco.
        </div>
        <div class=" basis-1/2 w-full hidden md:block ">
            <div class="flex justify-center space-x-2 ">
                <div class="w-[140px]">Payment Method:</div>
                <img src="/assets/images/payment/visa.jpg" alt="Visa" class="h-[30px]">
                <img src="/assets/images/payment/mastercard.jpg" alt="Mastercard" class="h-[30px]">
                <img src="/assets/images/payment/discover.jpg" alt="Discover" class="h-[30px]">
                <img src="/assets/images/payment/western.jpg" alt="Western Union" class="h-[30px]">
                <img src="/assets/images/payment/amex.jpg" alt="Amex" class="h-[30px]">
                <img src="/assets/images/payment/cirrus.jpg" alt="Cirrus Pay" class="h-[30px]">
                <img src="/assets/images/payment/paypal.jpg" alt="PayPal" class="h-[30px]">
            </div>


        </div>
    </div>

</div>